<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <!--including head that includes links to linking files-->
    <% include ./head %>

        <style>
            .container {
                margin-left: 130px;
                margin-top: 50px;
            }

            .profiletable {
                width: 85%;
            }

            .profiletable th,
            td {
                text-align: left;
                padding: 16px;
                letter-spacing: 1px;
            }

            .profiletable td {
                font-family: Georgia;
            }

            .profiletable tr:nth-child(even) {
                background-color: #f2f2f2
            }
        </style>
</head>

<body>

    <!--including header-->
    <% include ./header %>

    <!--including sidebar-->
    <% if (user.role ===  'admin') { %>
           <% include ./admin/partials/sidebar %>
       <% } else { %>
            <% include ./user/partials/sidebar %>
        <% } %>  
            
        <div class="container bootstrap snippet">
                <div class="row">
                    <div class="col-sm-3">
                        <!--left col-->
                        <div class="text-center">
                            <!-- <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                       -->
                            <img src="/images/uploads/ + <%= profile.profilepic.filename %>" class="avatar img-circle img-thumbnail" alt="avatar">

                            <h1>
                                <%= user.username %>
                            </h1>
                        </div>
                        </hr>
                        <br>
                    </div>
                    <!--/col-3-->

                    <div class="col-sm-9">
                        <hr>
                        <table class="profiletable">
                            <tr>
                                <td>Email </td>
                                <td>
                                    <%= profile.email %>
                                </td>
                            </tr>
                            <tr>
                                <td>Name </td>
                                <td>
                                    <%= profile.fullname %>
                                </td>
                            </tr>
                            <tr>
                                <td>D.O.B </td>
                                <td>
                                    <%= profile.dob %>
                                </td>
                            </tr>
                            <tr>
                                <td>Mobile </td>
                                <td>
                                    <%= profile.mobile %>
                                </td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>
                                    <%= profile.gender %>
                                </td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>
                                    <%= profile.city %>
                                </td>
                            </tr>
                            <tr>
                                <td>Hobbies</td>
                                <td>
                                    <%= profile.hobbies %>
                                </td>
                            </tr>
                            <tr>
                                <td>Bio</td>
                                <td>
                                    <%= profile.bio %>
                                </td>
                            </tr>

                        </table>
                        <hr>
                    </div>
                    <!--/col-9-->
                </div>
                <!--/row-->
            </div>

</body>

</html>